# general things to ignore
.venv/
venv/
.env
.DS_Store
build/
build_contrib/
dist/
.cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# IDE
.vscode/
.idea/

# misc
checkpoints/
test_waves/
reconstructed/
.python-version
ruff.log
/configs/inuse/
runs/
# AI_models/ (Tracked via Git LFS)
/garbages/
/flagged/
/experimental/

# fine-tuning
datasets/

# model files
# (pth and onnx are tracked via Git LFS in UPLOAD_MODELS_GUIDE.md)
# *.pth
# *.onnx
*.bin
project/edge_optimization/temp_optimized_models/

extra_libs/
audio/
