# general things to ignore
.venv/
venv/
.env
.DS_Store
build/
build_contrib/
dist/
.cache/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# IDE
.vscode/
.idea/

# misc
checkpoints/
test_waves/
reconstructed/
.python-version
ruff.log
/configs/inuse/
runs/
AI_models/
/garbages/
/flagged/
/experimental/

# fine-tuning
datasets/
